html, body {
	height: 100%;	
}

.container .container-fluid{
	min-width: 710px;
}


body {
	padding-top: 50px;
	background: #ffffff url("../img/shley-tree-2.png");
}

table {
	height: 100%;
}

.eon, .era, .period, .epoch, .mya {
	font-weight: bold;	
}

.mya {
	margin-left: 5px;
}

#world-vs-usa .mya {
	display:block;
	margin-left:0;
}


input .form-control {
	margin: 20px 0;
}

#shortie {
	height: 70%;
}

#controls {
	display:inline;
	margin-left: 80px;
}

#errors, #success {
	display:none;
	margin-top: 50px;
}

#geologic-time-period {
	padding: 10px;
}

.time-input {
	margin-bottom: 5px;
}

