html, body {
	height: 100%;	
}

body {
	padding-top: 50px;
	background: #ffffff url("../img/shley-tree-2.png");
}

table {
	height: 100%;
}

.eon, .era, .period, .epoch, .mya, .archean-eras, .proterozoic-eras {
	font-weight: bold;	
}

.mya {
	margin-left: 5px;
}

#world-vs-usa .mya {
	display:block;
	margin-left:0;
}


input .form-control {
	margin: 20px 0;
}

#errors, #success {
	display:none;
	margin-top: 50px;
}

.time-input {
	margin-bottom: 5px;
}

